@model EduHubLiving.Models.Recipe

@{
    ViewBag.Title = "Create";
}

<h2>Add New Recipe</h2>

<div class="main">
    <h2>Create Recipe</h2>
    <form action="/Recipe/Create" method="POST">
        <div>
            <label for="recipename">Recipe Name: </label>
            <input type="text" id="recipename" name="RecipeName" />
        </div>
        <div>
            <label for="recipetype">Recipe Type: </label>
            <input type="text" id="recipetype" name="RecipeType" />
        </div>
        <div>
            <label for="recipedescription">Recipe Description: </label>
            <textarea rows="10" cols="30" id="recipedescription" name="RecipeDescription"></textarea>
        </div>
        <div>
            <label for="recipeinstructions">Recipe Instructions: </label>
            <textarea rows="10" cols="30" id="recipeinstructions" name="RecipeInstructions"></textarea>
        </div>
        <div>
            <input type="submit" value="Submit" />
        </div>
    </form>
</div>

