﻿@model EduHubLiving.Models.BookDto
@{
    ViewBag.Title = "DeleteConfirm";
}


<style>
    h5 {
        color: #274060;
        text-transform: capitalize;
    }

    h4 {
        color: darkslategrey;
        text-transform: capitalize;
    }

    p {
        text-transform: capitalize;
    }

    .btn-primary {
        background-color: #274060;
        color: #D0DB97;
        border: 1px solid transparent;
        padding: 0.3em 0.8em;
        margin-top: 1em;
        text-transform: capitalize;
    }
</style>
<h5>Delete Book?</h5>
<h4>@Model.Title</h4>
<p>Publication Year : @Model.PublicationYear</p>
<p>Author: @Model.Author.Name</p>
<form action="/book/delete/@Model.BookId" method="POST">
    <button class="btn-primary" type="submit" value="Delete Book">Delete book</button>

</form> 